#Mob Farm Configuration
#
# This configuration file allows you to define the general settings for the Mob Farms.
#Wed Nov 27 19:47:21 UTC 2024
experienceDropChance=10
speedEnhancementUpgradeSpeed=6
tier0progressionUpgradeSpeed=0
tier1progressionUpgradeSpeed=3
tier2progressionUpgradeSpeed=6
tier3progressionUpgradeSpeed=9
